$color: #133f84;
$width-barrier: 980px;
$mobile-scale: 2;

.s-checkbox {
	user-select: none;
	cursor: pointer;
	margin-bottom: 0;
	
	/*@media screen and (max-width: 600px) {
		font-size: 5.4vw;
	}
	@media screen and (max-width: $width-barrier)  {
		font-size: 4.4vw;
	}
	@media screen and (max-width: $width-barrier) and (orientation: landscape) {
		font-size: 2.1vw;
	}*/
	input:checked {
		&+.checkbox {
			border-color: $color;

			svg {
				path {
					fill: $color;
				}

				polyline {
					stroke-dashoffset: 0;
				}
			}
		}
	}

	&:hover {
		.checkbox {
			svg {
				path {
					stroke-dashoffset: 0;
				}
			}
		}
	}

	.checkbox {
		position: relative;
		/*top: 2px;*/
		float: left;
		margin-right: 8px;
		width: 20px;
		height: 20px;
		border: 2px solid rgba(182, 194, 218, 0.671);
		border-radius: 3px;

		/*@media screen and (max-width: $width-barrier) {
			-webkit-transform: scale($mobile-scale);
			-ms-transform: scale($mobile-scale); 
			transform: scale($mobile-scale);
			top: 0.5em;
			left: 0.5em;
			margin-right: 1em;
		}

		@media screen and (max-width: $width-barrier) and (orientation: landscape)  {
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3); 
			transform: scale(1.3);
			top: 0.4em;
			left: 0.4em;
			margin-right: 0.8em;
		}*/

		svg {
			position: absolute;
			top: -2px;
			left: -2px;

			path {
				fill: none;
				stroke: $color;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-dasharray: 71px;
				stroke-dashoffset: 71px;
				transition: all .6s ease;
			}

			polyline {
				fill: none;
				stroke: #FFF;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-dasharray: 18px;
				stroke-dashoffset: 18px;
				transition: all .3s ease;
			}
		}
	}

	&>span {
		pointer-events: none;
		vertical-align: middle;
	}

	.cntr {
		position: absolute;
		top: 45%;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.invisible {
		position: absolute;
		z-index: -1;
		width: 0;
		height: 0;
		opacity: 0;
	}
}