$backgroundColor: #f2f1ef;
$textColor: #2c3e50;
$borderColor: #d0d0d0;
$blue: #3a539b;
$animationLength: .2s;
$firstThreshold: 750px;

%selected-item {
	background-color: $blue;
	border: 1px solid $blue;
	color: #fff;
}

.s-datepicker-range {
	&.material {
		.header {
			color: $textColor;

			.button {
				border-radius: 2em;
				padding: 0.3em 1em;
				transition: border-radius $animationLength ease $animationLength;
				outline: none;
				border: 1px solid $borderColor;

				&.expanded {
					border-radius: 0.4em 0.4em 0 0;
					border-bottom-width: 0px;
					transition: border-radius $animationLength ease;
				}

				&:hover {
					box-shadow: none;
					background: $backgroundColor;
				}
			}
		}

		.body-container {
			.body {
				margin-top: 0px;
				border-radius: 0 0.4em 0.4em 0.4em;

				.options {
					border-right: 1px solid $borderColor;
					@media (max-width: $firstThreshold) {
						border-right-width: 0;
					}

					.items-container {
						.item {
							color: $blue;
							//background: $backgroundColor;
							padding: 5px 5px 5px 15px;
							border-radius: 2em 0 0 2em;
							//border: 1px solid $borderColor;
							@media (max-width: $firstThreshold) {
								border-radius: 2em;
							}

							&:hover {
								@extend %selected-item;
							}

							&.selected {
								@extend %selected-item;
							}
						}
					}
				}

				&:after {
					border: 0px solid transparent;
				}

				&:before {
					border-bottom-color: transparent;
				}
			}

			.body-enter, .body-leave-to{
				max-height: 0px;
				overflow: hidden;
			}
	
			.body-leave, .body-enter-to{
				max-height: 500px;
				overflow: hidden;
			}
	
			.body-enter-active  {
				transition: max-height $animationLength;
			}
	
			.body-leave-active {
				transition: max-height $animationLength;
			}
		}
	}
}