%arrow-box-before-after-shared {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

%selected-item {
	background-color: #08c;
	border: 1px solid #08c;
	color: #fff;
}

$firstThreshold: 750px;

.s-datepicker-range {
	font-size: 15px;
	width: 100%;

	.header {
		width: 100%;

		.button {
			background: white;
			color: black;
			border: 1px solid rgb(204, 204, 204);
			cursor: pointer;
			outline: inherit;
			padding: 5px 6px;
			width: auto;
			border-radius: 3px;
			line-height: 23px;
			display: flex;
			flex-direction: row;
			width: 100%;
			text-align: left;

			&:hover {
				border: 1px solid #56b4ef;
				box-shadow: 0 1px 3px rgba(0,0,0,.05) inset, 
					0 0 8px rgba(82,168,236,.6);
			}

			.fa-calendar {
				flex-grow: 1;
				margin-right: 10px;
				margin-top: 0.2em;
				font-size: 1em;
			}

			.values {
				flex-grow: 16;
			}

			.fa-caret-down {
				flex-grow: 0;
				margin-top: 0.3em;
				margin-left: 0.5em;
				font-size: 1.1em;
			}
		}
	}

	.body-container {
		position: relative;
		display: inline-block;
		z-index: 1;
		width: 680px;
		@media (max-width: $firstThreshold) {
			width: 100%;
		}

		.body {
			position: absolute;
			background: white;
			border: 1px solid #ccc;
			border-radius: 0.5em;
			padding: 4px;
			margin-top: 1px;
			display: flex;
			flex-direction: row;
			@media (max-width: $firstThreshold) {
				flex-flow: row wrap;
			}

			.options {
				min-width: 160px;
				margin: 4px;
				@media (max-width: $firstThreshold) {
					width: 100%;
				}
				font-size: 13px;

				.items-container {
					list-style: none;
					margin: 0 auto;
					padding: 0;

					.item {
						list-style-type: none;
						background-color: #f5f5f5;
						border: 1px solid #f5f5f5;
						border-radius: 4px;
						color: #08c;
						padding: 3px 12px;
						margin-bottom: 8px;
						cursor: pointer;

						&:hover {
							@extend %selected-item;
						}

						&.selected {
							@extend %selected-item;
						}
					}
				}
			}

			.calendars {
				font-size: 16px;
			}

			&:before {
				@extend %arrow-box-before-after-shared;
				border-color: rgba(113, 158, 206, 0);
				border-bottom-color: #ccc;
				border-width: 9px;
				left: 19px;
				margin-left: -9px;
			}

			&:after {
				@extend %arrow-box-before-after-shared;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 8px;
				left: 19px;
				margin-left: -8px;
			}
		}
	}
}